{% extends 'menu.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NSJ GROUP</title>


</head>

<style>
    .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
</style>


<body>
   
 
    
    
      
    {% block content %}
        <section style="background-color: #3C3C3C" >
      <div class="container">
        <img src="/media/sp.png" alt="Snow">
        <a href="{% url 'sproduct' %}"><button class="btn">PURCHASE NOW</button>
        <div class="content">
          <h2 style="color: honeydew;">DESIGN YOUR WEBSITE WITH US...</h2>
          <p>This is a special product page were you can design how your website appeares.For that we provide lots of templates that you can choose as your wish.According to yourselection we design a completely responsive website attract your costomers.And the main heighlight that the pize starts from just 1000/-<br>
		1.Guest Users can order this product<br>     </div>
      </div>
    
            {% for items in items %}
	      <div class="card">
  <img src="{{items.item_image.url}}"  style="width:100%">
		      <a href="{% url "itemdetails" items.id %}" ><h1>{{items.item_name}}</h1></a>
  <p class="price">RS.{{items.item_price}}</p>
  <p>Some text about the jeans..</p>{% if user.is_authenticated %}
            
                <a href="{% url 'buynow' items.id user.id %}"><button style="    color: white; background-color: #1e691ed0; border: none; border-radius: .3em; font-weight: bold;" type="button" >Buy Now</button></a>
                <a href="{% url 'addtocart' user.id items.id %}"><button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button></a>
            

            {% else %}
                <a href="{% url 'addtocart_inactiveuser' %}"> <button style="    color: white; background-color: #1e691ed0; border: none; border-radius: .3em; font-weight: bold;" type="button" >Buy Now</button></a>
                <a href="{% url 'addtocart_inactiveuser' %}"><button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button></a>

    
            
            {% endif %}
  
</div>
           
            {% endfor %}


        
    </section>
    <br><br><br><br><br><br>
    {% endblock %}

</body><br><br><br>
<div class="footer">


  <br>
  Copyright © 2021 NSJ GROUP - All Rights Reserved.
  <br>
  <br>
</div>
</html>
