
{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NSJ GROUP</title>
</head>
<body>

    {% block topnav %}
        <div class="topnav" id="nav">
            <a href="{% url "index" %}">Home</a>
            <a href="{% url "Aboutus" %}">About Us</a>
            <a class="active" href="{% url "News" %}">News</a>
            <a href="{% url "Offers" %}">Offers</a>
        {% endblock %}


    {% block content %}
        <h1>
            <center>
                News
            </center>
        </h1>
        <p><h3>No News updates at present.</h3></p>
        <br><br><br><br><br><br><br>
    {% endblock %}
</body>
</html>