{% extends 'menu.html' %}
{% block content %}
<center>
<div style="padding-top: 18%;" class="razorpay-embed-btn" data-url="https://pages.razorpay.com/pl_GX2Z8iWGcyZ27Z/view" data-text="Pay Now" data-color="#528FF0" data-size="large">
    <script>
      (function(){
        var d=document; var x=!d.getElementById('razorpay-embed-btn-js')
        if(x){ var s=d.createElement('script'); s.defer=!0;s.id='razorpay-embed-btn-js';
        s.src='https://cdn.razorpay.com/static/embed_btn/bundle.js';d.body.appendChild(s);} else{var rzp=window['__rzp__'];
        rzp && rzp.init && rzp.init()}})();
    </script>
  </div>
</center>
{% endblock %}
