{% extends "index.html" %}
{% block content %}
<center></center>

<div class="text-center mt-5 pt-5">

    <img src="https://th.bing.com/th/id/R2ba9a581e5e4c1abc6ae8af8dff739c4?rik=LomY%2bfxNRdkzIw&riu=http%3a%2f%2fwww.clipartbest.com%2fcliparts%2f4Tb%2fL55%2f4TbL556Ec.jpg&ehk=op%2bFaetSvyGl1b6CEb0t24EaA4xQXOcVK78jBuk3VzI%3d&risl=&pid=ImgRaw" class="img-fluid" style="height: 150px; padding-left: 40%; padding-top: 95px;">
    <h2 style="padding-left: 31%; padding-top: 40px;" class="mt-5">Thank your Payment has been recived</h2>
</div>
</center>
{% endblock %}